.form {
  display: flex;
  flex-direction: column;

  margin-right: 16px;
  margin-bottom: 16px;

  width: 400px;
}

.item {
  margin: 8px !important;
}

@media screen and (max-width: 600px) {
  .form {
    display: flex;
    flex-direction: column;
    margin-right: 0px;
    margin-bottom: 16px;
    width: inherit;
  }
}
