.option {
  margin-bottom: 8px;

  display: flex;
  flex-direction: column;
  width: 95vw;
  max-width: 600px;
}

.form_item {
  margin: 16px !important;
}

.table_btn {
  margin-left: 16px !important;
}

.wrapper {
  display: flex;
  flex-wrap: wrap;
}

