.wrapper {
  width: 95vw;

  display: grid;

  grid-template-areas:
    "title title"
    "categories products";

  grid-template-columns: 200px 1fr;
  grid-template-rows: 1fr;
}

.title {
  grid-area: title;
}

.categories {
  grid-area: categories;
  margin: 0 0 16px 0;
}

.products {
  grid-area: products;
  margin: 0 0 0 16px;
}

.progress_wrapper {
  height: 100vh;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
