body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

:root {
  --primary-color: #2962ff;
  --primary-dark: #0039cb;
  --primary-light: #768fff;

  --secondary-color: #00bfa5;
  --secondary-dark: #008e76;
  --secondary-light: #5df2d6;

  --danger-light: #e57373;
  --danger-main: #f44336;
  --danger-dark: #d32f2f;

  --light_level_1: white;
  --light_level_2: #f2f2f2;
  --light_level_3: #e1e2e1;

  --text-color_1: black;
}
