@media screen and (max-width: 600px) {
  .wrapper {
    width: 95vw;

    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: stretch;
  }

  .side_wrapper {
    width: inherit;
    margin-bottom: 16px;
  }

  .side {
    flex: 1;

    display: flex;
    justify-content: center;
    flex-direction: column;

    height: auto;
  }

  .main {
    margin-bottom: 16px;
  }
}

@media screen and (min-width: 600px) {
  .wrapper {
    width: 95vw;

    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
  }

  .side {
    flex: 1;

    display: flex;
    justify-content: center;
    flex-direction: column;

    height: auto;
  }

  .main {
    margin: 0 16px;
    width: auto;
  }
}
