.wrapper {
  width: 95vw;

  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.side {
  flex: 1;

  display: flex;
  justify-content: center;
  flex-direction: column;

  height: auto;
}

.main {
  margin: 0 16px;
  flex: 1;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.progress_wrapper {
  height: 100vh;
  width: 100vw;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 500px) {
  .side_wrapper {
    width: inherit;
    margin-bottom: 16px;
  }

  .main {
    width: inherit;
    margin-left: 0px;
    margin-bottom: 16px;

    flex-direction: column;
  }
}
